<div class="h-screen rounded-lg overflow-hidden">
    <p-sidebar-layout class="min-h-screen! relative!">
        @if (isMobile() && open()) {
            <p-sidebar-backdrop class="absolute!" />
        }
        <p-sidebar id="preview" variant="inset"  [collapsible]="isMobile() ? 'offcanvas' : 'icon'" [overlay]="isMobile()" [(open)]="open">
            <p-sidebar-spacer />
            <p-sidebar-aside>
                <p-sidebar-panel>
                    <p-sidebar-header>
                        <div class="flex items-center gap-2 bg-cyan-400/20 rounded-lg p-2">
                            <img src="logo.png" alt="Acme Inc Logo" width="40"/>
                            @if (open()) {
                                <span class="font-semibold text-sm duration-3000 whitespace-nowrap">Config FLow</span>
                            }
                        </div>
                    </p-sidebar-header>
                    <p-sidebar-content class="overflow-x-hidden">
                        @for (group of navGroups; track group.label) {
                            <p-sidebar-group>
                                <p-sidebar-group-content>
                                        <p-sidebar-menu-item >
                                            <button pSidebarMenuButton>
                                                <svg [pIcon]="group.icon"></svg>
                                                <span>{{ group.moduleName }}</span>
                                            </button>
                                        </p-sidebar-menu-item>
                                </p-sidebar-group-content>
                            </p-sidebar-group>
                        }
                    </p-sidebar-content>
                    <p-sidebar-footer>
                        <p-sidebar-menu>
                            <p-sidebar-menu-item>
                                <button pSidebarMenuButton class="p-1!">
                                    <p-avatar label="JD" shape="circle" class="size-6 shrink-0 text-xs" />
                                    <span>John Doe</span>
                                </button>
                            </p-sidebar-menu-item>
                        </p-sidebar-menu>
                    </p-sidebar-footer>
                    <button pSidebarRail></button>
                </p-sidebar-panel>
            </p-sidebar-aside>
        </p-sidebar>
        <p-sidebar-main style="background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)),url(bg.png);background-repeat: no-repeat;background-size: 100% 100%;">
            <app-header></app-header>
            <router-outlet></router-outlet>
        </p-sidebar-main>
    </p-sidebar-layout>
</div>